<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/hls.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Raspberry Pi camera stream</title>
</head>
<body>
    <video id="video"></video>
    <script>
        var video = document.getElementById('video');
        if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource('http://octopi.homeunix.by:81/rpi_cam/rpi_cam.m3u8');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
                video.play();
            });
        }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = 'http://octopi.homeunix.by:81/rpi_cam/rpi_cam.m3u8';
            video.addEventListener('loadedmetadata', function () {
                video.play();
            });
        }
    </script>
</body>
</html>