server {
  include ssl.conf;
  include proxy.conf;

  listen        443 ssl http2;
  server_name   {{ unifi_controller.server_name }};

  auth_basic           "Homeunix Shelter";
  auth_basic_user_file /etc/nginx_sec/htpasswd;

  ssl_certificate           /etc/letsencrypt/live/{{ unifi_controller.server_name }}/fullchain.pem;
  ssl_certificate_key       /etc/letsencrypt/live/{{ unifi_controller.server_name }}/privkey.pem;
  ssl_trusted_certificate   /etc/letsencrypt/live/{{ unifi_controller.server_name }}/chain.pem;

  # Docker default DNS server
  resolver 127.0.0.11 ipv6=off;

  location /wss {
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_pass https://{{ unifi_container_name }}:8443$request_uri;
  }

  location / {
    proxy_pass https://{{ unifi_container_name }}:8443$request_uri;
  }
}