account default
host email-smtp.us-west-2.amazonaws.com
from {{ email.from }}
auth on
port 587
user {{ email.user }}
password {{ email.password }}
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt