unifi:
  container_name: unifi
  container_image: "jacobalberty/unifi:5.6"
  network: unifi
  path: "{{ chest.services_path }}/unifi"
  run_dir_path: "{{ common.services_path }}/unifi_run"
  archive_path: "{{ chest.archive_path }}/unifi"
nginx:
  network: nginx
  container_name: nginx
  conf_dir: "{{ common.services_path }}/nginx/conf"
  sec_dir: "{{ common.services_path }}/nginx/sec"
  cache_dir: "{{ common.services_path }}/nginx/cache"
letsencrypt:
  bin_dir: "{{ common.services_path }}/letsencrypt/bin"
  conf_dir: "{{ common.services_path }}/letsencrypt/conf"
  lock_dir: "{{ common.services_path }}/letsencrypt/lock"
  log_dir: "{{ chest.services_path }}/letsencrypt/log"
  certs_dir: "{{ chest.services_path }}/letsencrypt/certs"
  # shelter_cert: home_portal
  # unifi_cert: unifi_shelter_homeunix_by