deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} main universe
deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main universe
deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates main universe