homeassistant:
  name: {{ secrets.home_assistant.home.name }}
  latitude: {{ secrets.home_assistant.home.latitude }}
  longitude: {{ secrets.home_assistant.home.longitude }}
  elevation: {{ secrets.home_assistant.home.elevation }}
  unit_system: metric
  time_zone: {{ common.timezone }}
frontend:
http:
  server_port: {{ secrets.home_assistant.controller.ui_port }}
  base_url: https://{{ secrets.home_assistant.controller.server_name }}
  # TODO: properly configure x_forwarded_for
  # use_x_forwarded_for: true
  # trusted_proxies: "{{ nginx.container_name }}" 