- name: Create Nginx config directory
  file:
    path: "{{ chest.services_path }}/nginx"
    state: directory
    owner: root
    group: root
- name: Create Nginx cache directory
  file:
    path: "{{ chest.services_path }}/nginx/cache"
    state: directory
    owner: root
    group: root
- name: Put Nginx configuration file
  template:
    src: "{{ role_path }}/templates/nginx.conf.j2"
    dest: "{{ chest.services_path }}/nginx/nginx.conf"
- name: Start Nginx container
  docker_container:
    name: nginx
    image: nginx:mainline-alpine
    pull: yes
    recreate: yes
    restart_policy: always
    user: "root:root"
    networks:
      - name: "{{ nginx_network }}"
      - name: "{{ unifi_network }}"
    published_ports:
      - "80:80"
      - "443:443"
    env:
      TZ: "{{ common.timezone }}"
    volumes:
      - "{{ chest.services_path }}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ chest.services_path }}/nginx/dhparam.pem:/etc/nginx/dhparam.pem:ro"
      - "{{ chest.services_path }}/nginx/htpasswd:/etc/nginx/htpasswd:ro"
      - "{{ chest.services_path }}/nginx/cache:/tmp/nginx/cache:rw"
      - "{{ certbot_dir }}:/etc/letsencrypt:ro"